html,body {
    margin-left: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
   .upper{
        display: flex;
        ftion: row;
        justify-content: space-around; 
    }
    .text1 {
        padding: 10px;
        border-radius: 6px;
        border: 2px solid #B8FFEC
        
      }
    .section {
        display: none;  
    }
   .call {
       display: none;
   }
   .chat {
    display: none;
}
    .profile {
    display: none;
   }
   .text3 {
    display: none;
   }
   .text4 {
    display: none;
}
.text5 {
    display: none;
}
.text6 {
    display: none;
}
.text7 {
    display: none;
}
.section1 {
    display: none; 
}

.repair1 {
    display: none;
}
.checkstatus1 {
    display: none;
}
.more3 {
display: none;
}
.more4 {
    display: none;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1119px) {
    .upper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
       
    }
    .checkstatus{
        margin-right: 25px;
    }

    .menu {
        margin: 15px;   
    }

   .call {
    margin-left: auto;
   }
 
   .repair {
    margin-left: 55px;
   }
   .fade {
    display: flex;
    flex-direction: row;
    justify-content:space-between
   }
   .more1 {
    height: 160px;
    width: 312px;
    left: 24px;
    top: 256px;
    border-radius: nullpx;
   }
  
   .more4 {
       margin-right: 30px;
   }
   .text1 {
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #B8FFEC
    
  }
   .repair1 {
    display: none;
}
.section1 {
    display: none; 
}
.checkstatus1 {
    display: none;
}
.text5 {
    display: none;
}
.text6 {
    display: none;
}
.text7 {
    display: none;
}
.more3 {
    display: none;
}
.more2 {
    display: none;
}
}

@media only screen and (min-device-width : 1120px) and (max-device-width : 2000px) {
    header {
        display: flex;
        flex-direction:row-reverse;
        justify-content:space-between
    }
    .text6 {
        padding: 10px;
        border-radius: 6px;
        border: 2px solid #B8FFEC 
      }
      .text4 {
          margin-right: 40px;
      }

      .text5 {
          margin-left: 10px;
          margin-top: 20px;
          font-size: 16px;
          color: #7E7E82;
      }
      .section {
        display: none;
      }
       .more1 {
            height: 160px;
            width: 490px;
            left: 35px;
            top: 188.22021484375px;
            border-radius: nullpx;
       }
       .more4 {
           display: none;
       }
       .more3 {
       margin-right: 30px;
       }
       .fade {
        display: flex;
        flex-direction: row;
        justify-content:space-between  
       }
      .more2 {
          display: none;
      } 
    .text2 {
        display: none;
    }
    .menu.burger {
        display: none;
    }
    .menu.group {
        display: none;
    }
    .menu.call {
        display: none;
    }
    .menu.chat {
        display: none;
    }
    .menu.profile {
        display: none;
    }
.menu.repair {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px;
}
.repair1 {
    height: 24px;
    width: 125px;
    left: 716px;
    top: 50px;
    border-radius: nullpx;
}
.menu.checkstatus {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin-right: 30px;
}
.checkstatus1 {
    height: 24px;
    width: 119px;
    left: 921px;
    top: 50px;
    border-radius: nullpx;
}
.upper {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}



}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header{
   margin-left: 10px;
}
main {
    margin-left: 10px;
}
.slide {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    color: #7E7E82;
}

   

  .read {
    display: flex;
    ftion: row;
    justify-content: flex-start; 
    align-items: center;
  }
  section {
      margin-top: 20px;
  }
  